html{
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}
/* nav Bar*/
nav {
    height: 2.4rem;
    background-color: rgb(98, 152, 92);
    color: white;
    padding-top: 1rem;
}
ul {
    list-style:none;
    margin: 0;
}

li {
    display:inline-block;
    margin-left: 2rem;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.2rem;
}

li a {
    color: white;
    text-decoration: none;
}
li:hover a{
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.3s;
}
/* Banner */
.banner{
    height: 45rem;
    background-image: url('https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    position: relative;
    display: flex;
    margin: 1rem auto;
    overflow: hidden;
    justify-content: center;
}

.banner h1{
    background-color: rgb(252, 252, 254);
    opacity: 0.7;
    text-align: center;
    position: absolute;
    padding: 3rem;
    margin-top: 15rem;
    font-family: 'Caprasimo';
    font-weight: 800;
    font-size: 4rem;
    font-style: italic;
    color: rgb(45, 65, 44);

}

/* what we do*/
.container-activity{

}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.gallery img{
    width: 30rem;
    height: 22rem;
    background-color: cornflowerblue;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    justify-content: space-around;
    flex-shrink: 1;
    margin-bottom: 3rem;
    object-fit:cover;
}
.content{
    margin-top: 1rem;
}
.content h2{
    font-family:'Caprasimo';
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2.2rem;
    font-weight: 400;
    color: rgb(231, 142, 0);
}
.content p{
    font-family:Quicksand;
    font-size: 1.6rem;
    margin-left: 2rem;
    line-height: 1rem;
}

/* review*/
.review{
    background-color: rgba(255, 176, 39, 0.885);
    padding: 2rem;
    padding-bottom: 4rem;
}
.review h2{
    font-family:Quicksand;
    font-size: 1.6rem;
    font-weight: 450;
    width: 70%;
    color: rgb(47, 47, 47);
}
.review p{
    font-family:Quicksand;
    font-size: 1.4rem;
    font-weight: 700;
}
.container-img{
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content:center;
    padding:1rem 0.5rem;
    overflow: hidden;
}

.col{
    display: block;
    justify-content:center;
    
}
.col img{
    width: 22rem;
    height: 28rem;
    flex-shrink: 3;
    flex-wrap: wrap;
    margin:0 0.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.col img:hover{
    width: 23rem;
    height: 29rem;
    transition: 0.5s;
    border: 2px snow solid;
}
/* gallery*/
.col img{

}

/* come join us*/

img {
    flex-shrink: inherit;
    
}
.join{
    margin: auto;
}
.join h2{
font-family:'Caprasimo';
font-size: 2.4rem;
text-align: center;
margin-top: 3rem;
}
.join h3{
    font-family:Quicksand;
    font-size: 2rem;
    text-align: center;
}
.join img{
    width: 60%;
    min-width: 27rem;
    display: flex;
    flex-shrink:inherit;
    margin: 2rem auto;
    display: block;
    object-fit:cover;
    border-radius: 1rem;
}
/*footer*/
footer .container{
    display: flex;
    background-color: rgb(98, 152, 92);
    color: white;
    padding-top: 1rem;
    width: 100%;
}
footer .container .copyright{
    position: absolute;
    right: 3rem;
    margin-top: 1rem;
}

@media only screen and(max-width: 960px){
    .col img{
        width: 16rem;
        height: 20rem;
        flex-shrink: 1;
        flex-wrap: wrap;
        margin:0 0.5rem;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;
    }
}
@media only screen and (max-width: 700px){
    .content p{
        font-family:Quicksand;
        font-size: 1.5rem;
        margin-left: 2rem;
        line-height: 1.8rem;
    }
}
@media only screen and (max-width: 470px){
    .navbar{
        display: none;
    }
    .col img{
        width: 12rem;
        height: 16rem;
        flex-shrink: 3;
        flex-wrap: wrap;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 700px){
    nav {
        height: 1.6rem;
        background-color: rgb(98, 152, 92);
        color: white;
        padding-top: 0.3rem;
    }
    .banner{
        height: 40rem;
        background-image: url('https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        margin: 0 auto;
    }
    .col img{
        width: 20rem;
        height: 24rem;
        flex-shrink: 3;
        flex-wrap: wrap;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;
    }
    .col img:hover{
        width: 12rem;
        height: 16rem;
        transition: 0.5s;
        border: 2px snow solid;
    }
    footer nav {
        display: none;
        margin: 0 auto;
        padding: 0 auto;
    }
  }